.footer-card {
    position: fixed;
    bottom: 2%;
    left: 2.5%;
    width: 90%;
    background-color: #d8d3d3;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agregamos sombra */
  }
  
  .footer-menu {
    display: flex;
    justify-content: space-around;
  }
  
  .footer-menu a {
    margin-right: 10px;
  }
  
  .footer-menu img {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  /* menu  cerrar sesion */
  .menu-container {
    position: relative;
    display: inline-block;
    cursor: pointer; /* Cambia el cursor a pointer para indicar que es clicable */
  }
  
  .dropdown-menu {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 100%; /* Mueve el menú hacia arriba del contenedor principal */
    left: 50%; /* Centra el menú */
    transform: translateX(-50%);
    margin-bottom: 10px; /* Espacio entre el menú y el icono */
  }
  
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  